* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

/* sidebar  */
.sidebar {
  transform: translateX(-100%);
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 20rem;
  background-color: bisque;
  transition: 1s ease;
}
.sidebar-active {
  transform: translateX(0);
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 20rem;
  background-color: bisque;
  transition: 1s ease;
}
.overlay {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.371);
  transition: 1s ease;
}
.logo {
  font-size: 3rem;
  /* margin: 0.75rem; */
  margin-left: 4rem;
}
.nav {
  display: flex;
  flex-direction: column;
}
.nav-item {
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 0.25rem;
  transition: 0.5s ease;
}
.nav-item:hover {
  background-color: rgb(253, 213, 164);
  border-radius: 1rem;
  padding-left: 0.5rem;
  transition: 0.5s ease;
}
/* end sidebar  */
.bars {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  font-size: 2rem;
}
.bars-sidebar {
  z-index: 1;
  cursor: pointer;
  position: fixed;
  left: 1rem;
  top: 0.5rem;
  font-size: 2rem;
}

.section-center {
  z-index: 0;
}
/* search form  */
.form-section {
  position: relative;
  width: 56rem;
  margin: 1rem auto;
}
.clear-search-btn {
  border: 0;
  position: absolute;
  left: 48rem;
  height: 2.5rem;
  width: 2rem;
  background-color: transparent;
}
.search-field {
  border: 1px solid grey;
  padding: 0 0.5rem;
  width: 50rem;
  height: 2.5rem;
}
.search-btn {
  border: 1px solid grey;
  width: 2rem;
  height: 2.5rem;
  background-color: transparent;
}
/* end search form  */

/* news feed  */
.main-feed {
  position: relative;
}
.bar {
  position: absolute;
  left: 0;
  top: 30%;
  background-color: gold;
  height: 5rem;
  width: 7px;
}
.date strong {
  font-style: italic;
  margin: 0 1rem;
}
.read-more button {
  border: 0;
  padding: 0.5rem;
  background-color: rgba(255, 222, 90, 0.724);
}
.read-more button:hover {
  background-color: rgba(255, 219, 75, 0.885);
}
/*end of news feed  */
/* pagination  */
.pagination-btns {
  width: 80%;
  flex: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  color: gold;
}
.pagination-btns a {
  padding: 0.75rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid gold;
  color: gold;
  cursor: pointer;
}
.pagination-btns a:hover {
  color: white !important;
  background-color: gold;
}
.pagination-Active a {
  color: white !important;
  background-color: gold;
}
/* end of pagination  */

@media (max-width: 991px) {
  .form-section {
    width: 40rem;
  }
  .clear-search-btn {
    left: 35rem;
  }
  .search-field {
    width: 35rem;
  }
}
@media (max-width: 767px) {
  .form-section {
    margin-left: 3rem;
    width: 30rem;
  }
  .clear-search-btn {
    left: 25rem;
  }
  .search-field {
    width: 25rem;
  }
}
@media (max-width: 625px) {
  .form-section {
    width: 25rem;
  }
  .clear-search-btn {
    left: 18rem;
  }
  .search-field {
    width: 18rem;
  }
}
@media (max-width: 500px) {
  .form-section {
    width: 20rem;
  }
  .clear-search-btn {
    left: 15rem;
  }
  .search-field {
    width: 15rem;
  }
}
